<ion-view view-title="Acerca De">
  <ion-content class="content-chkte">
	<div class="row">
		<div class="col col-25 col-offset-25">
			<img class="full-image logo-img" src="img/chkte/logo.png">
		</div>
	</div>
	<div class="card">
		<div class="item item-text-wrap">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare velit eget ex imperdiet, eu tristique justo ultricies. Nulla sed auctor lacus, vel luctus leo. Ut ligula elit, volutpat eu massa eget, ullamcorper mattis nulla. Pellentesque fermentum quam elit, suscipit sagittis velit rutrum ac. Sed auctor eleifend tincidunt. Mauris at neque et urna congue eleifend. Phasellus ultricies mi at nulla sodales ornare. Ut erat risus, blandit at erat vitae, egestas viverra nulla.</p><br>
			<p class="text-justify">Cras a commodo mi, a gravida sem. Sed pretium diam non est vehicula consectetur. Aliquam sagittis pulvinar tellus et tristique. Nullam interdum accumsan orci, nec molestie purus rhoncus in. Mauris justo turpis, sagittis vel facilisis eget, condimentum sed mi. Duis justo sapien, porta id dolor eu, rutrum molestie urna. Morbi id ligula condimentum, iaculis ligula ut, vulputate erat. In sit amet tortor id felis facilisis dictum sed at mi. Aenean ut quam aliquet, fringilla est commodo, eleifend sem. Pellentesque a leo efficitur, pellentesque dolor nec, feugiat lorem. Mauris tincidunt quam ac rutrum hendrerit. Phasellus sed nibh sit amet mauris egestas malesuada. Donec ac sapien feugiat, lacinia lacus eget, luctus mi. Ut semper urna ac iaculis pulvinar. Donec dapibus, tortor a lacinia placerat, lacus diam consectetur ligula, ac aliquet quam turpis et dui. Aenean in ultrices purus.</p>
		</div>
	</div>
  </ion-content>
</ion-view>