<ion-view view-title="Administrador">
	<ion-content class="padding bg-dark">
	<ul class="list">
	  <div class="item item-button-right">
	    Editar Datos
	    <button class="button button-calm">
	      <i class="icon ion-person"></i>
	    </button>
	  </div>
	  <li class="item item-toggle">
	     Activar Touch ID
	     <label class="toggle toggle-energized">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	</ul>
	<div class="row">
		<div class="col">
			<button class="button button-block button-assertive">
			Cancelar
			</button>
		</div>
		<div class="col">
			<button class="button button-block button-energized">
			Guardar
			</button>
		</div>
	</div>
	</ion-content>
</ion-view>