<ion-modal-view ng-controller="adminCtrl">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Administrador</h1>
    <button class="button button-clear button-primary" ng-click="adminLogin.hide()">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding content-chkte">
    <br><br><br><br>
    <form ng-submit="adminLogIn()">
      <div class="login">
        <span class="ion-icon ion-person txt-light text-center" style="font-size: 150px; margin: auto; display: block;" ></span>
        <h3 class="text-center txt-light ">Datos del Administrador</h3>
        <div class="card login">
            <label class="item item-input">
              <input type="text" ng-model="adminInput.nombre" placeholder="Usuario">
            </label>
            <label class="item item-input">
              <input type="text" ng-model="adminInput.pass" placeholder="Contraseña">
            </label>
        </div>
        <button type="submit" class="button button-full button-energized">Ingresar</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>