<ion-content class="content-chkte">
<div class="row">
	<div class="col col-50 col-offset-25">
		<img class="full-image logo-img" src="img/chkte/logo.png">
	</div>
</div>
<br>
<div class="bg-energized">
	<br>
	<div class="row">
		<div class="col">
			<a href=""><img class="full-image" src="img/individual.png" ng-click="regSim.show()"></a>
		</div>
		<div class="col">
			<a href=""><img class="full-image " src="img/multiple.png" ng-click="regMul.show()"></a>
		</div>
	</div>
	<br>
</div>
<br>
<div class="row">
	<div class="col"></div>
	<div class="col">
		<img class="full-image" src="img/face.png">
	</div>
	<div class="col"></div>
	<div class="col">
		<img class="full-image " src="img/twitter.png">
	</div>
	<div class="col"></div>
</div>
	<p class="text-center txt-light">Copyright 2016© Chkte.com®<br>Todos los Derechos Reservados.</p>
</ion-content>