<ion-view view-title="Registro Exitoso">
	<ion-nav-bar class="bar-positive">
	</ion-nav-bar>
	<ion-content class="content-chkte">

		<h3 class="text-center txt-energized">Gracias Tu Registro Fue Exitoso</h3>
		<div class="card">
			<p>Ever Emmanuel Navarro Cervantes</p>
			<p>12:00pm</p>
		</div>
		<h3 class="text-center txt-energized">Si deseas realizar otro registro da click aqui o cierra la aplciación</h3>
		<button class="button button-full button-energized">
		  Nuevo Registro
		</button>
	</ion-content>
</ion-view>